body{
    background-color:ivory;
    color: darkblue;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Courier New', Courier;
}
h1{
    margin-top: 30px;
    color: indigo;
}
hr{
    width: 400px;
    border-radius: 10px;
    
}
p{
    margin: 20px auto;
    width: 60%;
    font-size: 16px;
}
img{
    border-radius: 70px;
    margin-inline-end: 20px;
}
a{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 5px;
    background-color: darkgreen;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
}
.about{
    display: flex;
    background-color: darkgrey;
    margin-top: 128px;
    padding:0;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
}
.about-text{
    max-width: 300px;
    text-align: left;
}
.about-image img{
    width: 200px;
    border-radius: 300px;
}
@media(max-width:768px){
    .about{
    flex-direction:column;
    text-align: center;
}
.about-image img{
    width: 80%; 
}
}

