body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: blueviolet;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px;
    color: indigo;
}

p {
    margin: 20px auto;
    width: 60%;
    font-size: 16px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.about {
    display: flex;
    margin-top: 250px;
    padding: 0;
    background-color: cadetblue;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.about-text {
    max-width: 300px;
    text-align: left;
}

.about-image img {
    width: 200px;
    border-radius: 300px;
}

@media(max-width:768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 80%;
    }
}
.btn{
    display: inline-block;
    padding: 10px 24px;
    background-color:green;
    color:white;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color:mediumslateblue;
}
nav a{
    margin: 10px;
    background-color:aqua;
    text-decoration: none;
   
}
nav a:hover{
    color: red;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
    gap: 15px;
}
input textarea{
    padding: 20px;
    border:1px solid;
    border-radius: 5px;
}
button{
    background-color:darkgray;
    color:whtie ;
    border:none;
    border-radius: 12px;
    cursor: pointer;
}
button:hover{
    background-color:firebrick;
}