body{
    font-family: 'Segoe UI', Tahoma;
    background-color:cornsilk;
    color: darkgray;
    text-align: center;
    margin:0;
    padding:0;
}
h1{
    color:khaki;
    margin-top: 20px;
}
p{
    margin: 20px auto;
    width:60%;
    font-size: 18px;
}
a{
    display:inline-block;
    margin-top: 20px;
    padding: 10px 20;
    color: red;
    background-color:chartreuse;
    text-decoration: none;
    border-radius: 20px;
}
img{
    border-radius: 50px;
    margin-top: 20px;
}